/**
 * Define some colours
 */
$grey: #aaaaaa;
$blue: #3bbfce;
$red: #ff0000;
$green: #00ff00;
$purple: #ff00ff;

body {
  background-color: $grey;
}

@media #{$small} {
  body {
    background-color: $red;
  }
  .touch body{
    color: $green;
  }
}
@media #{$medium} {
  body {
    background-color: $green;
  }
}
@media #{$large} {
  body {
    background-color: $blue;
  }
}
@media #{$xlarge} {
  body {
    background-color: $purple;
  }
}
